@import "../../assets/colors.css";

.notices-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--special-light-color);
    padding: 10px 20px;
    border-bottom: 2px solid var(--tertiary-dark-color);
}

.notices-marquee {
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.notices-content {
    display: inline-block;
    animation: scroll-left 60s linear infinite;
}

.notice-item {
    display: inline-block;
    margin-right: 50px;
    color:  var(--primary-text-color);
    font-size: 16px;
    font-weight: bold;
}

.see-all-button {
    background-color: var(--deep-button-color);
    color: var(--primary-text-color);
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    min-width: fit-content;
}

.see-all-button:hover {
    background-color: var(--secondary-dark-color);
}

@keyframes scroll-left {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.project-dashboard {
    position: relative;
    padding: 20px;
    background-color: var(--main-light-color);
    border: 1px solid var(--tertiary-light-background);
    border-radius: 8px;
    margin-bottom: 20px;
}

.dashboard-top-portion{
    display: flex;
}

.important-buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.emergency-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: var(--primary-danger-color);
    color: var(--main-light-color);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.completed-button {
    position: absolute;
    top: 60px;
    right: 10px;
    background-color: var(--secondary-text-color);
    color: var(--main-light-color);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.notice-button{
    position: absolute;
    right: 10px;
    top: 110px;
}

.notice-form{
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.dashboard-image {
    width: 300px;
    height: 200px;
    border-radius: 8px;
    object-fit: cover;
    margin: auto;
}

.dashboard-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
}

.project-name {
    font-size: 24px;
    color: var(--main-dark-color);
    margin-bottom: 2px;
}

.affected-people {
    font-size: 18px;
    color: var(--primary-danger-color);
    margin-bottom: 15px;
}

.project-location p {
    margin: 2px 0;
    color: var(--secondary-text-color);
    font-size: 16px;
}

.project-description {
    font-size: 16px;
    color: var(--main-dark-color);
    margin-bottom: 2px;
}

/* Donation Card */
.donation-card {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid var(--tertiary-light-background);
    background-color: var(--secondary-light-color);
    border-radius: 8px;
}

.donation-button {
    background-color: var(--main-dark-color);
    color: var(--main-light-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.table-card {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid var(--tertiary-light-background);
    background-color: var(--secondary-light-color);
    border-radius: 8px;
}

.table-structure {
    width: 100%;
    border-collapse: collapse;
}

.table-structure th,
.table-structure td {
    border: 1px solid var(--tertiary-light-background);
    padding: 10px;
    text-align: left;
    color: var(--main-dark-color);
}

.table-structure th {
    background-color: var(--tertiary-text-color);
    color: var(--main-light-color);
}

.notify-msg{
    color: var(--primary-danger-color);
}

.disabled-button{
    cursor: not-allowed;
}

.missing-photo{
    height: 150px;
    width: 150px;
}

.add-button {
    background-color: var(--secondary-dark-color);
    color: var(--main-light-color);
    border: 2px solid var(--tertiary-light-color);
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

.add-button:hover {
    background-color: var(--main-dark-color);
    color: var(--secondary-light-color);
    transform: scale(1.05);
}

.add-button:active {
    background-color: var(--secondary-dark-color);
    color: var(--main-light-color);
    transform: scale(0.95);
}

.add-button:disabled {
    background-color: var(--tertiary-light-color);
    color: var(--secondary-text-color);
    cursor: not-allowed;
    border: 2px solid var(--secondary-light-color);
}
